@import "tailwindcss";


:root {
  font-family:  'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Lucida';
}

html, body {
  overflow: hidden;
  height: 100%;
  background-color: #ffffff;
  color: #000000;
}

/* Estilos personalizados para las barras de desplazamiento */
.custom-scrollbar::-webkit-scrollbar {
  scrollbar-width: thin;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #49b0f2;
  border-radius: 10px;
  border: 2px solid #f1f1f1;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #888;
}